.header {
    background-color: rgb(12, 30, 230);
    color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
}
.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 20px 0 100px 0;
  
}
.headerList {
    display: flex;
    gap: 40px;
 margin-bottom: 50px;
}
.headerListItem{
display: flex;
align-items: center;
gap: 10px;
}
.headerListItem.active{
    border: 1px solid white ;
    padding: 10px;
    border-radius: 20px;
}
.headerDesc {
    margin: 20px;
}
.headerBtn{
    background-color: rgb(93, 93, 201);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.headerSearch{
    height: 30px;
    background-color: #fff;
    border: 3px solid rgb(254, 193, 24);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 100%;
    max-width: 1024px;
 
}
.headerIcon{
    color: rgb(63, 93, 111);
    
}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
   
}
.headerSearchInput{
    border: none;
    outline: none;
    background-color: transparent;
    
}
.headerSearchText{
    color: rgb(129, 181, 214);
    
}
.date{
    position: absolute;
    top: 50px;
}